body, p, ul, li {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

@font-face {
  font-family: "ClearSans";
  src: url("../fonts/ClearSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: ClearSans;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.2);
}

.header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 17px 0;
}

.header .container .header-info {
  text-align: center;
}

.header .container .header-info p:last-child {
  padding-top: 11px;
  font-weight: bold;
}

.header .container .header-content {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header .container .header-content .header-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .container .header-content .header-content-log {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 22px;
}

.header .container .header-content .header-content-log a {
  font-size: 14px;
  color: #3A4047;
}

.header .container .header-content .header-content-log a img {
  margin-right: 5px;
}

.header .container .header-content .header-content-log .header-mail {
  padding-left: 60px;
}

.header .container .header-content .header-content-contact {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
}

.header .container .header-content .header-content-contact .header-phone {
  font-weight: bold;
  padding: 0 6px 0 10px;
}

.header .container .header-content .header-content-contact .facebook-logo {
  padding-right: 21px;
}

.header .container .header-content .header-content-contact .header-hidden {
  display: none;
  padding: 28px;
  background-color: white;
  position: absolute;
  top: 35px;
  right: -10px;
  -webkit-box-shadow: -1px -1px 15px 5px rgba(58, 64, 71, 0.252);
          box-shadow: -1px -1px 15px 5px rgba(58, 64, 71, 0.252);
}

.header .container .header-content .header-content-contact .header-hidden .hidden-triangle {
  position: absolute;
  z-index: 1;
  right: 0;
  top: -10px;
}

.header .container .header-content .header-content-contact .header-hidden .hidden-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  padding: 6px 0;
}

.header .container .header-content .header-content-contact .header-hidden .hidden-numbers img {
  margin-right: 10px;
}

.header .container .header-content .basket {
  padding-top: 11px;
  padding-left: 19px;
  position: relative;
}

.header .container .header-content .basket .number-of-orders {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1AB0CE;
  text-align: center;
  line-height: 30px;
  color: #fff;
  position: absolute;
  top: 3px;
  right: -13px;
}

nav {
  text-align: center;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 15px 0;
}

nav ul li a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #3A4047;
  padding: 15px 31px;
  border-top: 3px solid rgba(255, 255, 255, 0);
  -webkit-transition: border-top 0.6s, color 0.5s;
  transition: border-top 0.6s, color 0.5s;
}

nav ul li a:hover {
  color: #1AB0CE;
  border-top: 3px solid #1AB0CE;
}

nav ul li .first-menu {
  padding-left: 0;
}

nav ul li .last-menu {
  padding-right: 0;
}

nav li:not(.last-menu-cover)::after {
  content: "|";
}

.hidden-nav {
  display: none;
}

.sec-one {
  background: url("../img/Rectangle.jpg") no-repeat center/cover;
}

.sec-one .sec-one-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  text-align: center;
}

.sec-one .sec-one-cover h1 {
  font-size: 57px;
  font-weight: bold;
  margin-top: 153px;
}

.sec-one .sec-one-cover img {
  width: 120px;
  margin: 10px auto 0 auto;
}

.sec-one .sec-one-cover .delivery {
  margin-top: 15px;
  font-size: 24px;
}

.sec-one .sec-one-cover .button {
  margin: 27px auto 141px auto;
  background-color: #1AB0CE;
  border: none;
  width: 200px;
  height: 48px;
  text-align: center;
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
          box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.sec-one .sec-one-cover .button a {
  display: block;
  color: #fff;
  text-decoration: none;
  font-family: ClearSans;
  font-size: 16px;
  font-weight: bold;
  line-height: 45px;
}

.sec-one .sec-one-cover .button:hover {
  -webkit-box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.7);
          box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.7);
}

.sec-two {
  position: relative;
}

.sec-two .call {
  position: absolute;
  top: -90px;
  right: 20px;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.sec-two .call:hover {
  -webkit-transform: rotate3d(1, 0, 2, 20deg);
          transform: rotate3d(1, 0, 2, 20deg);
}

.sec-two .sec-title {
  text-align: center;
  font-size: 36px;
  margin-top: 29px;
}

.sec-two .sec-two-cower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-top: 44px;
}

.sec-two .sec-two-cower .card-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #DCE1E6;
  min-width: 310px;
  padding: 29px 29px 26px 29px;
}

.sec-two .sec-two-cower .card-one .card-content {
  margin-left: 38px;
}

.sec-two .sec-two-cower .card-one .card-content .card-title-content {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.sec-two .sec-two-cower .card-one .card-content .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-two .sec-two-cower .card-one .card-content .card-list ul li {
  display: block;
  list-style: none;
  margin: 12px 0 12px 0;
}

.sec-two .sec-two-cower .left-cont {
  width: 117px;
}

.sec-two .sec-two-cower .right-cont {
  margin-left: 9px;
}

.sec-three .wrap .sec-title {
  text-align: center;
  font-size: 36px;
  margin-top: 29px;
}

.sec-three .wrap .sec-subtitle {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.sec-three .wrap p {
  margin: 16px 0 30px 0;
}

.sec-three hr {
  border: 1px solid #E8EDF2;
}

.sec-four .sec-title {
  text-align: center;
  font-size: 36px;
  margin-top: 29px;
}

.sec-four .news-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.sec-four .news-cover .news-cover-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 390px;
}

.sec-four .news-cover .news-cover-content .news-content {
  font-size: 16px;
  text-align: center;
  margin: 14px 0 30px 0;
}

.sec-four .news-cover .news-cover-content .news-content:hover {
  color: #1AB0CE;
  text-decoration: underline;
}

.sec-four .news-cover a {
  margin-top: 50px;
  color: #3A4047;
  text-decoration: none;
  border-top: 2px solid #fff0;
  -webkit-box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
          box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
  -webkit-transition: border-top 0.5s, -webkit-box-shadow 0.5s;
  transition: border-top 0.5s, -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s, border-top 0.5s;
  transition: box-shadow 0.5s, border-top 0.5s, -webkit-box-shadow 0.5s;
}

.sec-four .news-cover a:hover {
  border-top: 2px solid #1AB0CE;
  -webkit-box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.2);
}

.sec-four .news-cover .news-date {
  text-align: center;
  color: #BEC7D1;
  margin-top: 29px;
  text-decoration: none;
}

.sec-four .but-news {
  width: 190px;
  height: 32px;
  border: 1px solid #1AB0CE;
  border-radius: 2px;
  margin: 51px auto 49px auto;
  -webkit-box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
          box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.sec-four .but-news a {
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  color: #1AB0CE;
  line-height: 30px;
}

.sec-four .but-news:hover {
  -webkit-box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0.2);
}

.foot-bg {
  -webkit-box-shadow: inset 0 6px 4px -4px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 6px 4px -4px rgba(0, 0, 0, 0.2);
  background-color: #F7F7F7;
  padding: 20px 0 24px 0;
  position: relative;
}

.foot-bg .wrap .footer-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.foot-bg .wrap .footer-cover ul li {
  margin: 8px 0 8px 0;
  list-style: none;
}

.foot-bg .wrap .footer-cover ul li a {
  color: #3A4047;
}

.foot-bg .wrap .wrap-contacts {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.foot-bg .wrap .wrap-contacts .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-bg .wrap .wrap-contacts .contacts .contacts-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foot-bg .wrap .wrap-contacts .contacts .contacts-cover .ph-number {
  margin: 0 12px 0 12px;
}

.foot-bg .wrap .wrap-contacts .contacts .contacts-cover .phone {
  margin-left: 25px;
}

.foot-bg .wrap .wrap-contacts a {
  color: #3A4047;
}

.foot-bg .wrap .work-time-footer {
  margin-top: 15px;
}

.foot-bg .wrap .call {
  position: absolute;
  top: -70px;
  right: 20px;
  -webkit-transform: rotate3d(0, 0, 0, 0deg);
          transform: rotate3d(0, 0, 0, 0deg);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.foot-bg .wrap .call:hover {
  -webkit-transform: rotate3d(1, 0, 2, 20deg);
          transform: rotate3d(1, 0, 2, 20deg);
}

.foot-bg .footer-hidden {
  display: none;
  padding: 28px;
  background-color: white;
  position: absolute;
  bottom: 140px;
  right: 164px;
  -webkit-box-shadow: -1px -1px 15px 5px rgba(58, 64, 71, 0.252);
          box-shadow: -1px -1px 15px 5px rgba(58, 64, 71, 0.252);
}

.foot-bg .footer-hidden .footer-hidden-triangle {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: -14px;
}

.foot-bg .footer-hidden .footer-hidden-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
  padding: 6px 0;
}

.foot-bg .footer-hidden .footer-hidden-numbers img {
  margin-right: 10px;
}

@media screen and (max-width: 630px) {
  .header-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 15px;
  }
  .basket {
    z-index: 1;
  }
  .header .container .header-content .header-content-contact .header-hidden {
    z-index: 9;
    right: 43px;
  }
  .sec-title {
    padding-top: 30px;
  }
  .sec-four .but-news {
    margin-bottom: 72px;
  }
  .footer-cont {
    text-align: center;
  }
  .foot-bg .wrap .wrap-contacts a {
    text-align: center;
  }
  .perfect-work {
    text-align: center;
  }
}

@media screen and (max-width: 1470px) {
  .foot-bg {
    padding: 50px 0 24px 0;
  }
  .foot-bg .wrap .footer-cover {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .foot-bg .wrap .footer-cover div {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1170px) {
  .header .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .container .header-content .header-content-contact {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav {
    display: none;
  }
  .hidden-nav {
    display: block;
  }
  .hidden-nav .menu-icon {
    background-color: #4279bd;
  }
  .hidden-nav .menu-icon img {
    height: 40px;
    margin: 6px 0 6px 10px;
  }
  .hidden-nav .hidden-nav-list {
    display: none;
    text-align: center;
  }
  .hidden-nav .hidden-nav-list a {
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
    padding: 0 30px;
    border-left: 2px solid rgba(26, 176, 206, 0);
    border-right: 2px solid rgba(26, 176, 206, 0);
    -webkit-transition: border-left 0.5s, border-right 0.5s;
    transition: border-left 0.5s, border-right 0.5s;
  }
  .hidden-nav .hidden-nav-list a:hover {
    color: #1AB0CE;
    border-left: 2px solid #1AB0CE;
    border-right: 2px solid #1AB0CE;
  }
  .sec-two .sec-two-cower {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .sec-two .sec-two-cower .card-one {
    margin-bottom: 15px;
  }
  .sec-three .wrap p {
    padding: 0 30px;
  }
  .sec-four .news-cover {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style.css.map */