// ------------------------------------------------------------------------------------------------------------Clear
body, p, ul, li{
    margin: 0;
    padding: 0;
}

ul li{
    list-style: none;
}
// ------------------------------------------------------------------------------------------------------------endClear

// ------------------------------------------------------------------------------------------------------------Fonts
@font-face
{
    font-family: "ClearSans";
    src: url("../fonts/ClearSans-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
// ------------------------------------------------------------------------------------------------------------endFonts

// ------------------------------------------------------------------------------------------------------------General
body{
    font-family: ClearSans;
}

.wrap{
    max-width: 1170px;
    margin: 0 auto;
}
// ------------------------------------------------------------------------------------------------------------endGeneral


// ------------------------------------------------------------------------------------------------------------Header
.header{
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .2);

    .container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 17px 0;
    
        .header-info{
            text-align: center;
    
            p:last-child{
                padding-top: 11px;
                font-weight: bold;
            }
        }
    
        .header-content{
            display: inline-flex;
    
            .header-content-wrap{
                display: flex;
                flex-direction: column;
            }
    
            .header-content-log{
                display: inline-flex;
                padding-bottom: 22px;
    
                a{
                    font-size: 14px;
                    color: #3A4047;

                    img{
                        margin-right: 5px;
                    }
                }

                .header-mail{
                    padding-left: 60px; 
                }
            }
    
            .header-content-contact{
                display: inline-flex;
                justify-content: flex-end;
                position: relative;

                .header-phone{
                    font-weight: bold;
                    padding: 0 6px 0 10px;
                }

                .facebook-logo{
                    padding-right: 21px;
                }

                .header-hidden{
                    display: none;
                    padding: 28px;
                    background-color: white;
                    position: absolute;
                    top: 35px;
                    right: -10px;
                    box-shadow: -1px -1px 15px 5px rgba(58, 64, 71, 0.252);
                    
                    .hidden-triangle{
                        position: absolute;
                        z-index: 1;
                        right: 0;
                        top: -10px;
                    }

                    .hidden-numbers{
                        display: flex;
                        justify-content: center;
                        position: relative;
                        z-index: 2;
                        padding: 6px 0;

                        img{
                            margin-right: 10px;
                        }
                    }
                }
            }
    
            .basket{
                // padding: 18px;
                padding-top: 11px;
                padding-left: 19px; 
                position: relative;

                .number-of-orders{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: #1AB0CE;
                    text-align: center;
                    line-height: 30px;
                    color: #fff;
                    position: absolute;
                    top: 3px;
                    right: -13px;
                }
            }
        }
    }
}
// ------------------------------------------------------------------------------------------------------------endHeader
// ------------------------------------------------------------------------------------------------------------Nav
nav{
   text-align: center;

    ul li{
        list-style: none;
        display: inline-block;
        padding: 15px 0;
        // margin: -2px;

        a{
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            color: #3A4047;
            padding: 15px 31px;
            border-top: 3px solid rgba(255, 255, 255, 0);  
            transition: border-top 0.6s, color 0.5s;
        }

        a:hover{
            color: #1AB0CE;
            border-top: 3px solid #1AB0CE;
        }

        .first-menu{
            padding-left: 0;
        }

        .last-menu{
            padding-right: 0;
        }
    }

    li:not(.last-menu-cover)::after{
        content: "|";
    }
}
// ------------------------------------------------------------------------------------------------------------endNav
// ------------------------------------------------------------------------------------------------------------HiddenNav
.hidden-nav{
    display: none;
}
// ------------------------------------------------------------------------------------------------------------endHiddenNav
// ------------------------------------------------------------------------------------------------------------SectionOne
.sec-one{
    background: url("../img/Rectangle.jpg")no-repeat center/cover;

    .sec-one-cover{
        display: flex;
        flex-direction: column;
        color: #fff;
        text-align: center;

        h1{
            font-size: 57px;
            font-weight: bold;
            margin-top: 153px; 
        }

        img{
            width: 120px;
            margin: 10px auto 0 auto;   
        }
        
        .delivery{
            margin-top: 15px;
            font-size: 24px;
        }

        .button{
            margin: 27px auto 141px auto;
            background-color: #1AB0CE;
            border: none;
            width: 200px;
            height: 48px;
            text-align: center;
            border-radius: 2px;
            box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
            transition: box-shadow 0.5s;

            a{
                display: block;
                color: #fff;
                text-decoration: none;
                font-family: ClearSans;
                font-size: 16px;
                font-weight: bold;
                line-height: 45px;
            }
        }

        .button:hover{
            box-shadow: 0 6px 5px -1px rgba(0, 0, 0, .7);
        }
    }
}
// ------------------------------------------------------------------------------------------------------------endSectionOne
// ------------------------------------------------------------------------------------------------------------endSectionTwo
.sec-two{
    position: relative;

        .call{
            position: absolute;
            top: -90px;
            right: 20px;
            transform: rotate3d(0, 0, 0, 0deg);
            transition: transform 0.5s;
        }

        .call:hover{
            transform: rotate3d(1, 0, 2, 20deg);
        }

    .sec-title{
        text-align: center;
        font-size: 36px;
        margin-top: 29px;
    }

    .sec-two-cower{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;
        margin-top: 44px;

        .card-one{
            display: flex;
            border: 1px solid #DCE1E6;
            min-width: 310px;
            padding: 29px 29px 26px 29px;

            .card-content{
                margin-left: 38px;

                .card-title-content{
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 24px;
                    text-transform: uppercase;
                }

                .card-list{
                    display: flex;

                    ul li{
                        display: block;
                        list-style: none;
                        margin: 12px 0 12px 0;
                    }
                }
            }
        }

        .left-cont{
            width: 117px;
        }
        .right-cont{
            margin-left: 9px;
        }
    }
}
// ------------------------------------------------------------------------------------------------------------endSectionTwo
// ------------------------------------------------------------------------------------------------------------endSectionThree
.sec-three{

    .wrap{

        .sec-title{
            text-align: center;
            font-size: 36px;
            margin-top: 29px;
        }
    
        .sec-subtitle{
            text-align: center;
            font-size: 24px;
            margin-top: 20px;
        }
    
        p{
            margin: 16px 0 30px 0;
        }
    }

    hr{
        border: 1px solid #E8EDF2;
    }
}
// ------------------------------------------------------------------------------------------------------------endSectionThree
// ------------------------------------------------------------------------------------------------------------SectionFour
.sec-four{

    .sec-title{
        text-align: center;
        font-size: 36px;
        margin-top: 29px;
    }

    .news-cover{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: stretch;

        .news-cover-content{
            display: flex;
            width: 390px;

            .news-content{
                font-size: 16px;
                text-align: center;
                margin: 14px 0 30px 0;
            }

            .news-content:hover{    
                color: #1AB0CE;
                text-decoration: underline;
            }
        }

        a{
            margin-top: 50px;
            color: #3A4047;
            text-decoration: none;
            border-top: 2px solid #fff0;
            box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
            transition: box-shadow 0.5s, border-top 0.5s;
        }

        a:hover{
            border-top: 2px solid #1AB0CE;
            box-shadow: 0 6px 5px -1px rgba(0, 0, 0, .2);
        }

        .news-date{
            text-align: center;
            color: #BEC7D1;
            margin-top: 29px;    
            text-decoration: none;
        }       
    }

    .but-news{
        width: 190px;
        height: 32px;
        border: 1px solid #1AB0CE;
        border-radius: 2px; 
        margin: 51px auto 49px auto;
        box-shadow: 0 6px 5px -1px rgba(0, 0, 0, 0);
        transition: box-shadow 0.5s;
    }

    .but-news a{
        display: block;
        font-size: 14px;
        text-align: center;
        text-decoration: none;
        color: #1AB0CE;
        line-height: 30px;
    }

    .but-news:hover{
        box-shadow: 0 6px 5px -1px rgba(0, 0, 0, .2);
    }
}
// ------------------------------------------------------------------------------------------------------------endSectioneFour
// ------------------------------------------------------------------------------------------------------------Footer
.foot-bg{
    box-shadow: inset 0 6px 4px -4px rgba(0, 0, 0, .2);
    background-color: #F7F7F7;
    padding: 20px 0 24px 0;
    position: relative;

    .wrap{

        .footer-cover{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
    
            ul li{
                margin: 8px 0 8px 0;
                list-style: none;
    
                a{
                    color: #3A4047;
                }
            }
        }
    
        .wrap-contacts{
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
    
            .contacts{
                display: flex;
    
                .contacts-cover{
                    display: flex;
    
                    .ph-number{
                        margin: 0 12px 0 12px;
                    }
    
                    .phone{
                        margin-left: 25px; 
                    }
                }
            }
    
            a{
                color: #3A4047;
            }
        }
    
        .work-time-footer{
            margin-top: 15px;
        }
    
        .call{
            position: absolute;
            top: -70px;
            right: 20px;
            transform: rotate3d(0, 0, 0, 0deg);
            transition: transform 0.5s;
        }
    
        .call:hover{
            transform: rotate3d(1, 0, 2, 20deg);
        }
    }

    .footer-hidden{
        display: none;
        padding: 28px;
        background-color: white;
        position: absolute;
        bottom: 140px;
        right: 164px;
        box-shadow: -1px -1px 15px 5px rgba(58, 64, 71, 0.252);

        .footer-hidden-triangle{
            position: absolute;
            z-index: 1;
            right: 0;
            bottom: -14px;
        }

        .footer-hidden-numbers{
            display: flex;
            justify-content: center;
            position: relative;
            z-index: 2;
            padding: 6px 0;

            img{
                margin-right: 10px;
            }
        }
    }
}
// ------------------------------------------------------------------------------------------------------------endFooter





@media screen and (max-width: 630px) {
    .header-content{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 15px;
    }
    .basket{
        z-index: 1;
    }
    .header .container .header-content .header-content-contact .header-hidden{
        z-index: 9;
        right: 43px;
    }
    .sec-title{
        padding-top: 30px;
    }
    .sec-four .but-news{
        margin-bottom: 72px;
    }
    .footer-cont{
        text-align: center;
    }
    .foot-bg .wrap .wrap-contacts a{
        text-align: center;
    }
    .perfect-work{
        text-align: center;
    }
}

// ------------------------------------------------------------------------------------------------------------Media1024
@media screen and (max-width: 1470px){
// ------------------------------------------------------------------------------------------------------------Footer
.foot-bg{
    padding: 50px 0 24px 0;

    .wrap{

        .footer-cover{
            justify-content: space-around;  

            div{
                margin: 10px 0;
            }
        }
    }
}
// ------------------------------------------------------------------------------------------------------------endFooter
}

@media screen and (max-width: 1170px)
{
    .header{

        .container{
            justify-content: center;
            
            .header-content{

                .header-content-contact{
                    justify-content: center;
                }
            }
        
        }
    }
// ------------------------------------------------------------------------------------------------------------endMedia1024
// ------------------------------------------------------------------------------------------------------------Nav
    nav{
        display: none;
    }
// ------------------------------------------------------------------------------------------------------------endNav
// ------------------------------------------------------------------------------------------------------------HiddenNav
    .hidden-nav{
        display: block;
    
        .menu-icon{
            background-color: #4279bd;

            img{
                height: 40px;
                margin: 6px 0 6px 10px;
            }
        }

        .hidden-nav-list{
            display: none;
            text-align: center;

            a{
                text-transform: uppercase;
                text-decoration: none;
                line-height: 30px;
                padding: 0 30px;
                border-left: 2px solid rgba(26, 176, 206, 0);
                border-right: 2px solid rgba(26, 176, 206, 0);
                transition: border-left 0.5s, border-right 0.5s;
            }

            a:hover{
                color: #1AB0CE;
                border-left: 2px solid #1AB0CE;
                border-right: 2px solid #1AB0CE;
            }
        }
    }
// ------------------------------------------------------------------------------------------------------------endHiddenNav
// ------------------------------------------------------------------------------------------------------------SectionTwo
    .sec-two{

        .sec-two-cower{
            justify-content: space-around;

            .card-one{
                margin-bottom: 15px;
            }
        }
    }
// ------------------------------------------------------------------------------------------------------------endSectionTwo
// ------------------------------------------------------------------------------------------------------------endSectionThree
.sec-three{

    .wrap{
        
        p{
            padding: 0 30px;
        }
    }
}
// ------------------------------------------------------------------------------------------------------------endSectionThree
// ------------------------------------------------------------------------------------------------------------SectioneFour
.sec-four{
    .news-cover{
        justify-content: space-around;
    }
}
// ------------------------------------------------------------------------------------------------------------endSectioneFour
// ------------------------------------------------------------------------------------------------------------Footer
// .foot-bg{
//     // padding: 50px 0 24px 0;
// }
// ------------------------------------------------------------------------------------------------------------endFooter
}
